<!DOCTYPE html>
<html>
<head>
    <title>Maintenance - Collège Paname</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="text-align: center; padding-top: 100px;">
    <h1>⚜️ Site en Maintenance</h1>
    <p>Le Collège Privé Paname Sud met à jour ses infrastructures.</p>
    <p>Revenez d'ici quelques minutes.</p>
    <hr>
    <a href="/auth/discord" style="color: gray; font-size: 0.8em;">Connexion Administration</a>
</body>
</html>

{literal}
<script type="text/javascript" src="https://static.hetrix.io/iframeResizer/iframeResizer.min.js"></script>
<iframe class="htframe" src="https://wl.hetrixtools.com/r/24155e7669f6121fe2791092d2f28717/" width="100%" scrolling="no" style="border:none;" sandbox="allow-scripts allow-same-origin allow-popups" onload="iFrameResize([{log:false}],'.htframe')"></iframe>
{/literal}